spring:
  application:
    name: backend
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public
  mail:
    host: smtp.gmail.com
    port: 587
    username: chiyeuemthoi2k33@gmail.com
    password: ogyyskrgbqyfrzru
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  servlet:
    multipart:
      max-file-size: 2GB
      max-request-size: 2GB
app:
  jwt-secret: eW91ci1uZXctc3VwZXItbG9uZy1hbmQtc2VjdXJlLWJhc2U2NC1lbmNvZGVkLXNlY3JldC1rZXktZ29lcy1oZXJl
  jwt-expiration-milliseconds: 30000000
  jwt-refresh-expiration-milliseconds: 3000000000
  base-url: http://localhost:5173
  cors:
    allowed-origins: http://localhost:3000,http://localhost:5173
server:
  servlet:
    context-path: /api/v1
  port: 8000
springdoc:
  override-with-generic-response: false
minio:
  url: http://localhost:9000
  access:
    key: minioadmin
    secret: minioadmin
  bucket:
    name: edtech-content
janus:
  server:
    url: http://localhost:8088/janus
